.img-width {
    width: 100px;
    pointer-events: none;
}

.small-icon {
    width: 30px;
}

/* .backGround-color {
    background-color: #2b3035;
} */

/* input-width above the cards  */
.max-width {
    max-width: 300px;
}

.my-extra {
    margin-top: 4rem !important;
    margin-bottom: 6rem !important;
}

@keyframes scale-up-top {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 0;
    }
    100% {
        transform: scale(1);
        transform-origin: 50% 0;
    }
}

#alert-iniziale {
    height: 200px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mb-10 {
    margin-bottom: 14rem !important;
}

.gallery-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: all 300ms;
}

.gallery-img:hover {
    scale: 1.1;
    box-shadow: 3px 3px 3px black;
    z-index: 9;
    cursor: pointer;
}

.input-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.input-style:checked {
    border: 6px solid rgb(35, 180, 224);
    outline: unset !important; /* I added this one for Edge (chromium) support */
}

#this {
    width: 90%;

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

#that {
    width: 90%;

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

#those {
    width: 90%;

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.light-blue {
    background-color: rgb(169, 231, 231);
}
