.img-width {
    width: 100px;
    pointer-events: none;
}

.small-icon {
    width: 30px;
}

.backGround-color {
    background-color: #2b3035;
}

/* input-width above the cards  */
.max-width {
    max-width: 300px;
}

.my-extra {
    margin-top: 4rem !important;
    margin-bottom: 6rem !important;
}

@keyframes scale-up-top {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 0;
    }
    100% {
        transform: scale(1);
        transform-origin: 50% 0;
    }
}

#alert-iniziale {
    height: 200px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mb-10 {
    margin-bottom: 14rem !important;
}
