.img-width {
    width: 100px;
    pointer-events: none;
}

.small-icon {
    width: 30px;
}

.backGround-color {
    background-color: #2b3035;
}

.single-dimensions {
    height: 100%;
}

.max-width {
    max-width: 300px;
}
